#cards-container
{
    display: flex;
    justify-content: space-around;
}

.card
{
    width: 20%;
    aspect-ratio: 1/1.5;
    cursor: pointer;
}

#message
{
    font-size: 3em;
    text-align: center;
}
